name: Run Trainings

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Run tests with pytest
      run: python3 test/train_sullivankyle06.py

    - name: Publish sullivankyle06 results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: sullivankyle06-results
        path: model/sullivankyle06-results.xml
